@page "/enrollments"
@using Example.Blazor.Shared
@using Example.Blazor.Shared.ViewModels.Enrollment

<h1>Enrollments</h1>
<Table TEntity="Enrollment" TModel="ListViewModel" RelativeURL="Enrollments" />
