<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/timewarp-it/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="steinbachio" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>